body {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    font-family: Roboto Mono;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
}

.carta-38 {
    width: 1100px;
    height: 710px;
    box-shadow: 3px 7px 81px -10px rgba(0,0,0,0.75);
}