body {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    font-family: Lato;
}

.carta-33 {
    width: 1080px;
    height: 800px;
    box-shadow: 3px 7px 81px -10px rgba(0,0,0,0.75);
    padding: 70px;
    color: #333;
}

.contenido-arriba {
    width: 400px;
}

.contenido-arriba h2 {
    font-size: 55px;
    width: 300px;
    margin-bottom: 20px;
}

.contenido-arriba p {
    font-size: 20px;
    line-height: 1.4;
}

.contenido-arriba button {
    border: none;
    color: #fff;
    background-color: #333;
    padding: 14px 40px;
    border-radius: 30px;
    font-size: 17px;
    margin-bottom: 30px;
}

.circulos {
    display: flex;
    position: relative;
    right: 15px;
}

.circulos img {
    scale: .8;
    max-width: 100%;
}