body {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
}

.carta-10 {
    width: 760px;
    height: 460px;
    box-shadow: 3px 7px 81px -10px rgba(0,0,0,0.75);
    background-color: #333;
    padding: 30px 0px 30px 50px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.lado_izquierdo {
    width: 270px;
}

.lado_izquierdo div {
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
}

.lado_izquierdo div:nth-child(1) {
    color: #e09298;
}

.lado_izquierdo div:nth-child(2) {
    color: #92c6e0;
}

.lado_izquierdo div:nth-child(3) {
    color: #92e0ca;
}

.lado_izquierdo p {
    color: #fff;
    line-height: 22px;
}

.lado_izquierdo button {
    border: none;
    background-color: #fff;
    color: #333;
    padding: 12px 30px;
    border-radius: 20px;
}

img {
    width: 100px;
    height: 110px;
    border-radius: 20px;
    padding-right: 5px;
}