body {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
}

.carta-3 {
    width: 800px;
    box-shadow: 3px 7px 81px -10px rgba(0,0,0,0.75);
    padding: 30px;
    padding-top: 50px;
}

.carta-3 > div {
    display: flex;
    margin-bottom: 50px;
    gap: 82px;
}

.carta-3 h2 {
    font-size: 52px;
    margin-top: 5px;
}

.carta-3__parte {
    width: 40%;
}

.carta-3__parte {
    color: #777;
    line-height: 24px;
}

.carta-3__parte button {
    border: none;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}

.carta-3 img {
    width: 100%;
}