body {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
}

.carta-12 {
    width: 1080px;
    height: 670px;
    box-shadow: 3px 7px 81px -10px rgba(0,0,0,0.75);
    display: flex;
    padding: 30px;
    padding-top: 60px;
}

.contenido {
    width: 370px;
    font-family: "Sen";
    position: relative;
    right: -20px;
}

.contenido div {
    font-size: 50px;
    font-weight: 600;
}

.contenido p {
    line-height: 25px;
    color: #555;
}

.contenido button {
    color: #fff;
    border: none;
    background-color: #333;
    padding: 12px 30px;
    border-radius: 20px;
}

img[alt="espiral"] {
    width: 100px;
    margin-top: 70px;
    margin-left: 70px;
}

img[alt="imagen1"], img[alt="imagen2"], img[alt="imagen3"] {
    width: 250px;
    height: 330px;
    object-fit: cover;
    border-radius: 20px;
}



.lado-derecho {
    display: flex;
    flex-direction: column;
    position: relative;
}

.derecho_parte-arriba {
    display: flex;
    margin-bottom: 100px;
    gap: 50px;
}

.ondas {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 40px;
    margin-right: 40px;
}

.derecho_parte-medio {
    display: flex;
    position: absolute;
    top: 170px;
    left: 0;
}

.ondas img {
    margin: 10px 0;
}

.derecho_parte-abajo {
    display: flex;
    align-items: end;
    position: relative;
    right: 90px;
    top: -100px;
    gap: 20px;
}

.foto-descripcion {
    display: flex;
    width: 500px;
}

.foto-descripcion img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.foto-descripcion p {
    color: #777;
    margin-top: 5px;
    line-height: 24px;
}

.derecho_parte-medio img[src="img_carta-12/estreya.png"] {
    width: 180px;
    height: 180px;
}

.derecho_parte-medio img[alt="estreya1"] {
    position: relative;
    z-index: 10;
    top: 60px;
    left: 80px;
}

.derecho_parte-medio img[alt="estreya2"] {
    position: relative;
    top: 180px;
    right: -50px;
}