body {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    font-family: Poppins;
}

.carta-34 {
    width: 1030px;
    height: 740px;
    box-shadow: 3px 7px 81px -10px rgba(0,0,0,0.75);
    background-color: #F4F4F4;
    padding: 50px;
}

.titulo {
    font-size: 38px;
    text-align: center;
    color: #333;
    border: 2px solid #333;
    background-color: #fff;
}

.titulo h2 {
    margin: 15px 0;

}

.contenido {
    display: flex;
    background-color: #fff;
    border: 2px solid #333;
    border-top: none;
}

.lado-izquierda {
    padding: 50px;
    padding-bottom: 40px;
    padding-top: 40px;
    width: 444px;
    border-right: 2px solid #333;
    color: #333;
}

.contenido-lado-izquierda-arriba {
    margin-bottom: 50px;
}

.contenido-lado-izquierda-arriba h3 {
    font-size: 35px;
    font-weight: 500;
    margin: 0;
}

.contenido-lado-izquierda-arriba p {
    font-size: 18px;
    color: #333;
}

.contenido-lado-izquierda-arriba button {
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    background-color: #333;
    color: #fff;
    font-size: 17px;
    filter: drop-shadow(6px 6px 0 #000);
}

.contenido-lado-izquierda-abajo {
    display: flex;
    border: 2px solid #333;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
    padding-bottom: 10px;
}

.contenido-lado-izquierda-abajo .numero {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
} 

.contenido-lado-izquierda-abajo p {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 300;
}

.raya {
    height: 5px;
    width: 50px;
    background-color: #333;
    margin-bottom: 10px;
}

.lado-derecha {
    width: 620px;
    display: flex;
    justify-content: space-between;
}

.lado-derecha-secion {
    width: 256px;
    height: 600px;
}

.contenedor-estreya {
    position: relative;
    right: -30px;
    top: 10px;
    width: 200px;
}

.contenedor-estreya img {
    width: 200px;
}

.contenedor-estreya p {
    position: absolute;
    width: 120px;
    text-align: center;
    top: 40px;
    right: 40px;
    font-weight: 500;
    font-size: 18px;
}


.lado-derecha-secion > img {
    background-color: #79BBE3;
    width: 320px;
    height: 480px;
    position: relative;
    right: 32px;
    scale: .8;
    top: -16px;
}

.lado-izquierdo-secion {
    width: 205px;
} 

.lado-izquierdo-secion img {
    width: 255px;
    height: 200px;
    object-fit: cover;
    background-color: #333;
}

.cuadrado {
    width: 280px;
}