body {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    font-family: avenir;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
}

.carta-1 {
    max-width: 1000px;
    height: 810px;
    box-shadow: 3px 7px 81px -10px rgba(0,0,0,0.75);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carta-1 h2 {
    width: 40%;
    font-size: 2.5rem;
    line-height: 60px;
    margin-bottom: 5px;
    color: #333;
    font-family: sans-serif;
}

.carta-1 p {
    width: 50%;
    color: #000a;
    line-height: 30px;
    margin-top: 0px;
    font-weight: 500;
    font-size: 20px;
    font-family: sans-serif;
}

.carta-1 button {
    padding: 14px 40px;
    border: none;
    border-radius: 15px;
    background-color: #333;
    color: #fff;
    font-weight: 100;
}

.carta-1 div {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 45px;
}

.carta-1 img {
    width: 220px;
    border-radius: 10px;
}