body {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    font-family: Poppins;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
}

.carta-25 {
    width: 920px;
    height: 700px;
    box-shadow: 3px 7px 81px -10px rgba(0,0,0,0.75);
    padding-left: 50px;
    background-color: #E8D9D6;
}

.lado-arriba {
    display: flex;
}

.lado-arriba-izquierdo {
    width: 500px;
    position: relative;
    top: -20px;
}

.lado-arriba-izquierdo h2 {
    font-size: 70px;
    margin: 0;
}

.lado-arriba-izquierdo img {
    width: 150px;
    position: relative;
    top: 50px;
    right: 0px;
}

.lado-arriba-izquierdo p {
    width: 380px;
    font-size: 15px;
    margin-top: 5px;
}

.lado-arriba-izquierdo button {
    border: none;
    color: #fff;
    background-color: #271908;
    border-radius: 20px;
    padding: 12px 22px;
    font-weight: 100;
    font-size: 14px;
}

.lado-arriba-derecho {
    position: relative;
    width: 400px;
    right: 30px;
}

.lado-arriba-derecho img {
    position: absolute;
    width: 400px;
}

.lado-arriba-derecho img:nth-child(1) {
    width: 550px;
    height: 500px;
    right: -50px;
}

.lado-arriba-derecho img:nth-child(2) {
    width: 200px;
    right: 0px;
    top: 150px;
}

.lado-arriba-derecho img:nth-child(3) {
    width: 200px;
    right: 240px;
    top: 180px;
}

.lado-arriba-derecho img:nth-child(4) {
    width: 550px;
    right: -70px;
    top: -300px;
}

.lado-arriba-derecho img:nth-child(5) {
    width: 120px;
    right: 160px;
    top: 200px;
}

.lado-abajo {
    display: flex;
    gap: 10px;
    margin-top: 120px;
}

.trozo-abajo {
    display: flex;
    background-image: linear-gradient(to bottom,#fff, #eceaea);
    width: 280px;
    border-radius: 100px;
    padding-right: 5px;    
}

.trozo-abajo img {
    width: 210px;
    height: 130px;
    border-radius: 200px;
}

.numero {
    font-size: 25px;
    font-weight: 600;
    color: #333;
    margin-top: 15px;
}

.lado-abajo_contenido {
    margin-left: 20px;
}

.lado-abajo_contenido p {
    font-size: 12px;
    margin-top: 5px;
}